# Project Information
site_name: AWS SDK for Python
watch: [README.md]

# Copyright
copyright: Copyright &copy; 2025, Amazon Web Services, Inc

# Repository
repo_name: awslabs/aws-sdk-python
repo_url: https://github.com/awslabs/aws-sdk-python

# Theme
theme:
  name: material
  custom_dir: docs/overrides
  logo: assets/aws-logo-white.png
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - navigation.top
    - navigation.footer
    - content.code.copy
    - announce.dismiss

# Plugins
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        paths: [clients/*/src]
        options:
          show_submodules: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true

# Navigation
nav:
  - index.md
  - aws-sdk-python:
    -  About: clients/aws-sdk-python.md
  - aws-sdk-bedrock-runtime:
    -  About: clients/aws-sdk-bedrock-runtime/about.md
    -  Client: clients/aws-sdk-bedrock-runtime/clients.md
#  - Designs:
#      - auth: designs/auth.md
#      - documents: designs/documents.md
#      - event-streams: designs/event-streams.md
#      - exceptions: designs/exceptions.md
#      - http-interfaces: designs/http-interfaces.md
#      - retries: designs/retries.md
#      - serialization: designs/serialization.md
#      - shapes: designs/shapes.md

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

# Extras
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/awslabs/aws-sdk-python
extra_css:
  - stylesheets/extra.css