site_name: AWS SDK for Python
site_description: Documentation for AWS SDK for Python Clients

repo_name: awslabs/aws-sdk-python
repo_url: https://github.com/awslabs/aws-sdk-python

hooks:
  - docs/hooks/copyright.py

theme:
  name: material
  logo: assets/aws-logo-white.svg
  favicon: ""
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      scheme: default
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: white
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: white
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
      primary: black
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false
            show_signature: true
            show_signature_annotations: true
            show_root_heading: true
            show_root_full_path: false
            show_object_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_if_no_docstring: true
            show_category_heading: true
            group_by_category: true
            separate_signature: true
            signature_crossrefs: true
            filters:
              - "!^_"
              - "!^deserialize"
              - "!^serialize"

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - def_list
  - toc:
      permalink: true
      toc_depth: 3

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/awslabs/aws-sdk-python

extra_javascript:
  - path: javascript/nav-expand.js
    defer: true

extra_css:
  - stylesheets/extra.css

validation:
  nav:
    omitted_files: ignore
